<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete</title>
    <link href="/template/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container">
        <div id="input">Начните вводить текст</div>
        <ul id="suggestions"></ul>
    </div>

    <script>
        const inputDiv = document.getElementById('input');
        const suggestions = document.getElementById('suggestions');
        let data = [];
        let currentIndex = -1;
        let query = '';

        fetch('/titles.csv')
            .then(response => response.text())
            .then(text => {
                data = text.split('\n').map(row => row.trim());
            });

        document.addEventListener('keydown', function (e) {
            if (/^[a-zA-Zа-яА-Я 0-9]$/.test(e.key)) {
            query += e.key;
            } else if (e.key === 'Backspace') {
            query = query.slice(0, -1);
            } else if (e.key === 'Enter') {
            e.preventDefault();
            if (currentIndex >= 0 && currentIndex < suggestions.children.length) {
                const selectedItem = suggestions.children[currentIndex].dataset.original;
                sendPostRequest(selectedItem);
                inputDiv.textContent = selectedItem.replace(/;/g, ' ');
                query = '';
                updateSuggestions();
            }
            return;
            } else if (e.key === 'ArrowDown') {
            currentIndex = (currentIndex + 1) % suggestions.children.length;
            updateHighlight();
            return;
            } else if (e.key === 'ArrowUp') {
            currentIndex = (currentIndex - 1 + suggestions.children.length) % suggestions.children.length;
            updateHighlight();
            return;
            }

            inputDiv.textContent = query;
            updateSuggestions();
        });

        function updateSuggestions() {
            suggestions.innerHTML = '';
            currentIndex = -1;
            if (query) {
                const filteredData = data.filter(item => {
                    return item.toLowerCase().split(' ').some(word => word.startsWith(query.toLowerCase()));
                });
                filteredData.forEach(item => {
                    const li = document.createElement('li');
                    li.textContent = item.replace(/;/g, ' ');
                    li.dataset.original = item;
                    li.addEventListener('click', function () {
                        sendPostRequest(item);
                        query = '';
                        inputDiv.textContent = query;
                        updateSuggestions();
                    });
                    suggestions.appendChild(li);
                });
                if (suggestions.children.length > 0) {
                    currentIndex = 0;
                    updateHighlight();
                }
            }
        }

        function updateHighlight() {
            for (let i = 0; i < suggestions.children.length; i++) {
                suggestions.children[i].classList.remove('highlight');
            }
            if (currentIndex >= 0 && currentIndex < suggestions.children.length) {
                suggestions.children[currentIndex].classList.add('highlight');
            }
        }

        function sendPostRequest(selectedItem) {
            fetch(`/?title=${encodeURIComponent(selectedItem)}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `title=${encodeURIComponent(selectedItem)}`,
            });
        }
    </script>
</body>

</html>